@font-face {
font-family: "Bahnshrift";
src: url(/macondo/public/fonts/BAHNSCHRIFT.TTF);
}

@font-face {
font-family: "Bahnshrift Light";
src: url(/macondo/public/fonts/BAHNSCHRIFT\ 13.TTF);
}

@font-face {
font-family: "Montserrat Alternates Light";
src: url(/macondo/public/fonts/MontserratAlternates-Light.ttf);
}

@font-face {
font-family: "Montserrat Alternates Regular";
src: url(/macondo/public/fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
font-family: "Montserrat Alternates Bold";
src: url(/macondo/public/fonts/MontserratAlternates-Bold.ttf);
}

@font-face {
font-family: "Montserrat  Regular";
src: url(/macondo/public/fonts/Montserrat-Regular.ttf);
}

@font-face {
font-family: "Montserrat  Bold";
src: url(/macondo/public/fonts/Montserrat-VariableFont_wght.ttf);
}



.footerc{
  background-color: #2d1723;
  height: 35vh;
  padding-top: 5vw;
  padding-left: 5vw;
  padding-bottom: 8vw;
  color: #ffffff;
  position: relative;
  display: flex;
  font-family: "Montserrat  Regular"; 
}
.footerc > div{
  width: 50%;
} 
.footerc a{ 
  color: #ffffff;
  text-decoration: none;
  padding-right: 2vw;
  display: block;
  font-size: 1.5vw;
  float: left;
  font-family: "Montserrat  Regular"; 
}
.footerc a:hover{ 
  color: #ffffff;
  text-decoration: underline;
  padding-right: 2vw;
  display: block;   
  float: left;
  font-family: "Montserrat  Regular";
  font-size: 1.5vw; 
}


.bloqderfot > div {
  width: 25%!important;
  float: left;
  padding-right: 3vw;
}

.footerc h3 {
  font-family: "Montserrat  Regular";
  font-size: 2.3vw;
}

.footerc p{
  font-family: "Montserrat  Regular";
  font-size: 1.6vw;
}


