

@font-face {
  font-family: "Bahnshrift";
  src: url(/macondo/public/fonts/BAHNSCHRIFT.TTF);
}

@font-face {
  font-family: "Bahnshrift Light";
  src: url(/macondo/public/fonts/BAHNSCHRIFT\ 13.TTF);
}

@font-face {
  font-family: "Montserrat Alternates Light";
  src: url(/macondo/public/fonts/MontserratAlternates-Light.ttf);
}

@font-face {
  font-family: "Montserrat Alternates Regular";
  src: url(/macondo/public/fonts/MontserratAlternates-Regular.ttf);  
}

@font-face {
  font-family: "Montserrat Alternates Bold";
  src: url(/macondo/public/fonts/MontserratAlternates-Bold.ttf);    
}

@font-face {
  font-family: "Montserrat Regular";  
  src: url(/macondo/public/fonts/Montserrat-Regular.ttf);      
}

@font-face {
  font-family: "Montserrat  Bold";
  src: url(/macondo/public/fonts/Montserrat-VariableFont_wght.ttf);
}


.secbanner {
  background-image: url("/images/banner2.jpg");  
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  display: flex;
  
  flex-direction: column;
  position: relative;
  justify-content: center;
    align-items: center;
    
}

.secbanner::after {
  position: absolute;
  content: "";
  inset:0;  
  
}  

  
  .button {
    
    margin-left: 3.5vw!important;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 14vw;
    padding: 10px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;    
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }

  .button2 {    
    margin-left: -65vw!important;
    border: none;
    background-color: #ffffff;    
    color: #000000;
    width: 14vw;
    border-radius: 2vw;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }
  .button3 {   
    margin-left: 2vw!important;     
    
    border: none;
    background-color: #E3AB84;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }
  
  .button4 {   
    margin-left: -10vw!important;     
    border-radius: 2vw;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }

  .button {
    
    margin-left: 3.5vw!important;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 14vw;
    padding: 10px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;    
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }

  .button2 {    
    margin-left: -65vw!important;
    border: none;
    background-color: #ffffff;    
    color: #000000;
    width: 14vw;
    border-radius: 2vw;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }
  .button3 {   
    margin-left: 2vw!important;     
    
    border: none;
    background-color: #E3AB84;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }
  

  .button4 {   
    margin-left: -10vw!important;     
    border-radius: 2vw;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }

  .taza{
    background-image: url("/images/tazita.png");    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5vw;
    width: 7.5%;    
    height: 19vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vw;
    left: 37vw;
    z-index: 100;
}

.secbanner h6 {
  color: #ffffff;
  text-align: left;    
  display: block;
  margin-left: -2.5vw;
  margin-top: 1.3vw;
  width: 90%;  
  font-family: "Montserrat  Bold";    
  font-size: 2.34vw;
  
  z-index: 200;
 }
 .secbanner h5 {
  color: #ffffff;
  text-align: left;
  display: block;
  margin-left: -2.5vw;    
  font-weight: bold;  
  width: 90%; 
  font-family: "Montserrat  Bold";    
  font-size: 4.27vw;
  z-index: 200;
  margin-block-start: 0em;
    margin-block-end: 0em;
 }

 .negrita{
  font-weight: bold;
  
}

.buttonhome {   
        
  margin-left: -66vw;
  border: none;
  background-color: #E3AB84;
  color: #000000;
  width: 25vw;
  padding: 10px 32px;
  border-radius: 2vw;
  margin-top: -4vw;
  text-align: center;
  text-decoration: none;   
  font-size: 1.17vw; 
  font-family: "Montserrat  Regular";     
  cursor: pointer;
  z-index: 3;

 
}

.sedebansec{
  background-color: #cccccc;
  width: 100%;
  height: 125vh;
    
  display: flex;  
  position: relative;
  align-self: center;
}

.sedebansec > div {
  width: 50%;
}



.imgcafesec{
  background-image: url("/images/cafeban.avif");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 68vh;  
  margin: 0vw 0 3vw 4vw;   
  border-radius: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vw;
}


.imgcafeder{

  margin-left: 8vw;  
  justify-content: center;  
  align-self: center;  
}



.columleftmetdos{
  width: calc(100% - 120px);
  margin-top: 6vw;
  margin-left: 8vw;
   
  align-self: center;
}


.titulocafdos{
  font-family: "Montserrat  Regular";   
  font-size: 2.64vw;
  width: 80%;
 }

 
 .parrafcafedos{
  font-family: "Montserrat  Regular";  
  font-size: 1vw;
  width: 80%;
 }

 
 .parrafcafeinfdos{
  font-family: "Montserrat  Regular";  
  font-size: 1vw;
  width: 80%;
 }

 .button3 {   
  margin-left: 2vw!important;     
  
  border: none;
  background-color: #E3AB84;
  color: #000000;
  width: 30vw;
  padding: 15px 32px;
  border-radius: 2vw;
  text-align: center;
  text-decoration: none;   
  font-size: 1.17vw;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Montserrat  Regular";     
  cursor: pointer;
  z-index: 3;
}