


  
  .button {
    
    margin-left: 3.5vw!important;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 14vw;
    padding: 10px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;    
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }

  .button2 {    
    margin-left: -65vw!important;
    border: none;
    background-color: #ffffff;    
    color: #000000;
    width: 14vw;
    border-radius: 2vw;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }
  .button3 {   
    margin-left: 2vw!important;     
    
    border: none;
    background-color: #E3AB84;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }
  
  .button4 {   
    margin-left: -10vw!important;     
    border-radius: 2vw;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }

  .button {
    
    margin-left: 3.5vw!important;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 14vw;
    padding: 10px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;    
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }

  .button2 {    
    margin-left: -65vw!important;
    border: none;
    background-color: #ffffff;    
    color: #000000;
    width: 14vw;
    border-radius: 2vw;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    z-index: 3;
  }
  .button3 {   
    margin-left: 2vw!important;     
    
    border: none;
    background-color: #E3AB84;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }
  

  .button4 {   
    margin-left: -10vw!important;     
    border-radius: 2vw;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 30vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 1.17vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Montserrat  Regular";     
    cursor: pointer;
    z-index: 3;
  }

  
 .blqsedetres{
  background-color: #E3AB84;
  width: 100%;
  height: 120vh;
    
  display: flex;  
  position: relative;
 }

.titulocaftres{
  font-family: "Montserrat  Regular";
  font-size: 2.64vw;
  width: 80%;
 }

.parrafcafetres{
  font-family: "Montserrat  Regular";  
  font-size: 1vw;
  width: 80%;
 }

 .parrafcafeinftres{
  font-family: "Montserrat  Regular";  
  font-size: 1vw;
  width: 80%;
 }


 .columrighttres{
background-color: #000000;
  margin-left: 54vw;  
  margin-top: -50vw;
  justify-content: center;  
  align-self: center;  
  width: 45%;
  
}


.imgsupatresne{  
  background-image: url("/images/procesados.jpg");   
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 44vh;
  border-radius: 0 5vw 0 5vw;
  margin: 1.7vw 0 2vw 0vw;
  display: flex;
  flex-direction: column;
  position: relative;
}


.imgsupatresne{  
  background-image: url("/images/procesados.jpg");     
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 44vh;
  border-radius: 0 5vw 0 5vw;
  margin: 1.7vw 0 2vw 0vw;
  display: flex;
  flex-direction: column;
  position: relative;
}


.columlefttres{
  width: calc(100% - 120px);
  margin-top: 6vw;
  margin-left: 8vw;
   
  align-self: center;
  
}


.imgsupatres{
  background-image: url("/images/proceso.jpg");       
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 44vh;
  border-radius: 0 5vw 0 5vw;
  margin: 1.7vw 0 2vw 4vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
